* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

header, main, footer {
    max-width: 600px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 0.5rem;
    background-color: #D3C385;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

header img {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 20px;
}

h1{
    font-family: 'Charmonman', cursive;
    text-shadow: 1px 1px #96031A;
}

h2{
    font-family: 'Charmonman', cursive;
    margin-left: 0.5rem;
}
.content{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 5px 0px;
}
ul {
    margin: 5px 0px;
    margin-left: 2.5rem;   
}
a{
    color: #96031A;
    text-decoration: none;
}
a:hover { 
    color: #DEB058;
    text-decoration: underline;
  }    
footer{
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 0.5rem;
    background-color: #D3C385;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
#currentdate {
    color: #4E3822;
}
