* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #49111C;
    color: #E6E1C5;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin: 16pt;
    padding: 0.5rem;
    border-radius: 5px;

}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
main {
    margin: 16pt;
    max-width: 64em;
    display: block;
}
.principle {
    
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8pt;
    background-color: #E6E1C5;
    border: 1px solid black ;
    border-radius: 5px; 
    flex: 1 1 auto;
    min-width: 250px;
    
}
h3{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding: 0.5rem;
    background-color: #0A0908;
    color: #E6E1C5;
}
h3, p, img {
    width: 100%;
    padding: 10pt;
}

img {
    max-width: 350px;
    margin: 0 auto;
}

footer{
    background-color: #49111C;
    color: #E6E1C5;
    text-align: center;
    margin: 16pt;
    padding: 0.5rem;
    border-radius: 5px;
}

