@media (min-width: 52em) {
    .logo {
        max-width: 120px;
    } 
    nav{
        grid-row: 1/2;
        grid-column: 3/4;
    }
    nav ul li {
        list-style:none;
    }
    .social{
        grid-column: 4/5;
        justify-self: center;
        margin-right: 0.5rem;
    }
    .social img{
        margin: 0.3rem;
    }
    header button {display: none}
    nav ul#primaryNav {
        display: flex;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
    .index{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(auto-fit, minmax(50px,1fr)) ;
    } 
    .index h3{
        font-size: 15px;

    }
    .index .hero h2{
        top: 50px;
        font-size: 30px;
    }
    .index div{
        margin: 0.4rem;
        padding: 0.2rem;
        border: 1px #A1B0AB solid;
    }
    .lastspot, .spotlight div{
        display: block;
    }
    .index .hero img{
        height: 100%;
        margin: 0px;
        object-fit: cover;
        object-position: 20% 10%;
    }
    .index div:nth-of-type(2){
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .index div:nth-of-type(2) h2{
        margin-left: 0px;
    }
    .index div:nth-of-type(1){
        grid-row: 1/3;
        grid-column: 2/3;      
    }
    .index .spotlight{
        grid-row: 1/4;
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
    }
    .index .spotlight div{
        height: auto;
        text-align: center;
    }
    .spotlight div:nth-of-type(1) img, .spotlight div:nth-of-type(2) img, .spotlight div:nth-of-type(3) img{
        width: 100px;
        margin: auto;
        float:none;
    }
    .index .spotlight .lastspot{
        display: block;
        text-align: center;

    }
    .index .spotlight .lastspot h3{
        clear: both;
        font-size: 15px;
        margin-top: 1vh;
    }
    .index div:nth-of-type(3){
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .index div:nth-of-type(4){
        grid-row: 3/4;
        grid-column: 2/3;
    }   
    .index div:nth-of-type(5){
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .discover div:nth-of-type(2){
        grid-row: 1/3;
    }
    .discover div:nth-of-type(2) img{
        width: 200px;
    }
    .discover div:nth-of-type(2) img{
        float: left;
        margin: 0 15px 15px 0;
    }
    .discover div:nth-of-type(2) h3{
        clear: both;
    }
/*-------------------------join page------------------------------*/
    main.join{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main.join .benefits{
        display: block;
    }
    main.join .introduction{
        grid-column: 1/3;
    }
    main.join form{
        margin: 0 4rem;
    }
/*----------------------------------------------------------------*/
    footer .title {
        margin-left: 40px;
    }
    footer .end p{
        font-size: 1rem;
        display: inline;
        margin: 0.2rem;
    }
}
