@media only screen and (min-width: 32.5em ){
   
    .logo {
        max-width: 100px;
    } 
    header h1 {
        font-size: 1.7rem;
    }
    header h2 {
        font-size: 1.2rem;
    }
    .social img{
        width: 30px;
        margin: 0.2rem;
    }
    nav ul li a {
        font-size: 1.1rem;
    }
    .index{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: repeat(auto-fit, minmax(50px,1fr)) ;
    } 
    .index div{
        grid-column: 1/3;
    }
    .index div:nth-of-type(4){
        grid-row: 2/3;
    }
    .index .spotlight{
        grid-row: 3/4;
        display: flex;
    }
    .index .spotlight div{
        flex: 1 1 auto;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .index .spotlight div img{
        margin: auto;
    }
    .index .spotlight .lastspot{
        display: none;
    }
    .index div:nth-of-type(5){
        display: block;
        grid-row: 4/5;
        text-align: center;
    }
    .index div:nth-of-type(5) button{
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding: 8pt;
        width: 100%;
        background-color: rgba(255,255,0, 0.5);
        border: 0.5px solid gray;
        border-radius: 10px;
    }
    .index div:nth-of-type(2){
        grid-column: 1/2;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .index div:nth-of-type(3){
        grid-column: 2/3;
    }
    .discover div:nth-of-type(2) img:hover{
        box-shadow: 0 0 50px #555;
    }
    footer{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    footer .title {
        display: flex;
        align-items: center;
    }
    footer .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    footer .end{
        grid-column: 1/3;
    }
    .end p:nth-of-type(1),.end p:nth-of-type(3),.end p:nth-of-type(5),.end p:nth-of-type(7),.end p:nth-of-type(9){
        display: inline;
    }
    .end .line{
        display: inline;
    }
    /*-----------------------------directory------------------------*/
    main.directory div.grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main.directory div.grid section {
        height: 450px;
      } 
    main.directory div.grid p:nth-of-type(3) {
        font-size: 0.84rem;
    }
    main.directory div.list p:nth-of-type(3) {
        font-size: 0.76rem;
    }
    main.directory div.list section {
        display: grid;
        grid-template-columns: 1fr 100px 100px 1fr ;
      }
/*-------------------------------contact------------------------------------------------------------------*/
} 