@media (min-width: 52em) {
    header div.title{
        height: 15vh;
        justify-content: flex-start;
    }
    header div.buttons div.social a img {
        width: 40px;
        margin: 0.1rem;
    }
    header div.buttons {
        display: block;
        position: absolute ;
        width: 30vw;
        right: 0;
        top:0;
        background-color: transparent;
    }
    header div.buttons button, header div.buttons div, header div.buttons form {
        display: none;
    }
    header div.buttons div.social{
        grid-row: 1/2;
        height: 15vh;
        background-color: rgba(225, 225, 225, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 30vw;
    }
    main.temple-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    main div.right-menu {
        display: block;
        background-color: var(--softGreen);
        grid-column: 2/3;
    }
    main nav ul li a {
        text-align: center;
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: black;
        border-top: 1px solid rgba(0,0,0,0.5);
        font-size: 1rem;
    }
    main nav ul li a:hover {
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
    }
    main h3{
        margin-top: 1rem;
        text-align: center;
    }
    main div.right-menu form{
        background-color: var(--softGreen);
        padding: 0.8rem;
        grid-column: 1/4;
    }
    main div.right-menu form label{
        font-family: 'Julius Sans One', sans-serif;
        display:block;
        padding-bottom: 1rem;
        color: #1C211D;
        font-size: 0.9rem;
    }
    main div.right-menu form label input{
        -webkit-appearance: none;
        font-family: 'Libre Baskerville', serif;
        display: block;
        font-size: 0.8rem;
        padding: .75rem;
        border: none;
        color: black;
        width:100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }
    main div.right-menu form label textarea{
        -webkit-appearance: none;
        font-family: 'Libre Baskerville', serif;
        display: block;
        font-size: 0.8rem;
        max-height: 40em;
        border: none;
        height: 7em;
        padding: 0.75em;
        color: black;
        width:100%;
        max-width: 20rem;
        background-color: rgba(0, 0, 0, 0.1);
    }
    main div.right-menu form input.submitBtn {
        font-family: 'Julius Sans One', sans-serif;
        border: solid 1px #555;
        background-color: rgba(225, 225, 225, 0.6);
        color: black;
        border-radius: 0.7rem;
        padding: 0.75rem 1.5rem;
        width: 96%;
        max-width: 20rem;
    }
    main.index div.temple-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.index div.temple-information img{
        max-width: 400px;
        align-self: center;
    }
    main.index div.temple-information p{
        align-self: center;
    }
    main.index a.book {
        top:auto;
        bottom: 30px;
        left: 30px;
      }
    footer{
        display: none;
    }
    div.second-footer p, div.second-footer div.social {
        text-align: center;
        padding: 0.1rem;
    }
    div.second-footer div.social img{
        width: 25px;
        margin: 0.1rem;
    }
    main div.second-footer{
        display: block;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        padding: 0.5rem;
        background-color: rgba(48, 107, 52, 0.5);
    }
    main div.second-footer img{
        width: 100px;
    }
    main.index div.weather{
        grid-template-columns: 20vw 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }
    main.index div.weather h2{
        grid-column: 1/2;
    }
    main.index div.weather .figure{
        grid-template-columns: 1fr;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    main.index div.weather .figure p{
        padding: 0.8rem;
    }
    main.index div.weather .figure img{
        grid-row: 1/2;
    }
    main.index div.weather h3{
        grid-column: 3/4;
    }
    main.index div.weather div.forecast{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    main.temple-list div.cards {
        grid-row: 1/3;
    }
    main.reservation div.reservationForm {
        grid-row: 1/3;
    }
/*--------------------------------------------------------------------------------------------*/    
    main.services div.amenities-information{
        grid-column: 1/2;
    }
    main.services div.right-menu {
        grid-row: 1/3;
    }
    main.services div.service-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.services div.service-information img{
        max-width: 250px;
        align-self: center;
    }
    main.services div.service-information div{
        align-self: center;
    }
    main.services div.amenities-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.services div.amenities-information img{
        max-width: 250px;
        align-self: center;
    }
    main.services div.amenities-information div{
        align-self: center;
    }
    main.services div.special-services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main.services div.special-services h2{
        grid-column: 1/3;
    }
    main.reception div.food-information{
        grid-column: 1/2;   
    }
    main.reception div.right-menu {
        grid-row: 1/2;
    }
    main.reception div.reception-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.reception div.reception-information img{
        max-width: 300px;
        align-self: center;
    }
    main.reception div.reception-information div{
        align-self: center;
    }
    main.reception div.food-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.reception div.food-information img{
        max-width: 300px;
        align-self: center;
    }
    main.reception div.food-information div{
        align-self: center;
    }
    
/*---------------------------------------------------------------------------------------------------*/

   main.reception div.food-information{
        grid-column: 1/2;   
    }
    main.reception div.right-menu {
        grid-row: 1/2;
    }
    main.reception div.reception-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.reception div.reception-information img{
        max-width: 300px;
        align-self: center;
    }
    main.reception div.reception-information div{
        align-self: center;
    }
    main.reception div.food-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.reception div.food-information img{
        max-width: 300px;
        align-self: center;
    }
    main.reception div.food-information div{
        align-self: center;
    }
/*----------------------------------------------------------------------------------------------------*/
    main.missionaries div.restaurant-information{
        grid-column: 1/2;   
    }
    main.missionaries div.right-menu {
        grid-row: 1/2;
    }
    main.missionaries div.missionaries-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.missionaries div.missionaries-information img{
        max-width: 300px;
        align-self: center;
    }
    main.missionaries div.missionaries-information div{
        align-self: center;
    }
    main.missionaries div.restaurant-information{
        display: grid;
        grid-template-columns: 20vw 1fr 1fr;
    }
    main.missionaries div.restaurant-information img{
        max-width: 300px;
        align-self: center;
        margin-top: 1rem;
    }
    main.missionaries div.restaurant-information div{
        align-self: center;
    }



}