:root {
    --strongGreen: #306B34;
    --softGreen: #B0D4B2;
    --titlesGreen: #818547;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}
h1, h2, h3, h4{
    font-family: 'Julius Sans One', sans-serif;
}
h1{
    display: flex;
    color: white; 
    font-size: 1.8rem; 
    margin: 0.5rem;
    text-align: center;
    align-items: center;
}
h2{
    font-weight: 100;
    padding: 1.2rem;
}

h4{
    padding: 1rem;
}
p, ul{
    font-size: 0.8rem;
    line-height: 2;
    padding: 1.2rem;
    text-align: left;
}
/*-------------------------------------------HEADER---------------------------------------------*/

header div.title{
    display: flex;
    text-align: center;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header div.title img {
    max-width: 100px;
    margin: 1rem;
}
header div.buttons {
    background-color: var(--softGreen);
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
}
header div.buttons button, header div.buttons a{
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    justify-self: center;
    background: transparent;
    border: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
header div.buttons button:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
header div.buttons div.social a img{
    width: 25px;
    margin: 0.1rem;
}
/*-------nav---------*/
nav{
    grid-column: 1/4;
    font-family: 'Julius Sans One', sans-serif;
}
nav ul{
    background-color: var(--softGreen);
    list-style: none;
}
header div.buttons nav ul li a {
    text-align: center;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: 1rem;
}
header div.buttons nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
header div.buttons nav ul {display: none;list-style-type: none;}
header div.buttons nav ul.open {display: block;}

/*-----------contact------------*/
header form{
    background-color: var(--softGreen);
    padding: 0.8rem;
    grid-column: 1/4;
}
header form label{
    font-family: 'Julius Sans One', sans-serif;
    display:block;
    padding-bottom: 1rem;
    color: #1C211D;
    font-size: 0.9rem;
}
header form label input{
    -webkit-appearance: none;
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 0.8rem;
    padding: .75rem;
    border: none;
    color: black;
    width:100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
header form label textarea{
    -webkit-appearance: none;
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 0.8rem;
    max-height: 40em;
    border: none;
    height: 7em;
    padding: 0.75em;
    color: black;
    width:100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
header form input.submitBtn {
    font-family: 'Julius Sans One', sans-serif;
    border: solid 1px #555;
    background-color: rgba(225, 225, 225, 0.6);
    color: black;
    border-radius: 0.7rem;
    padding: 0.75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
}
header form {display: none;}
header form.open {display: block;}

/*----------------------------------------------Main Index-------------------------------------------------------------------*/
#banner {
	display: none;
	margin: 0 auto;
	border: 1px solid #bbb;
	background-color: #FFE770;
	padding: 1rem;
	text-align: center;
	max-width: 1050px;
}
main.index div.temple-information {
    margin: 1rem auto;
    text-align: center;

}
main.index div.temple-information img{
    width: 80%;
    max-width: 300px;
}
main.index a.book {
    font-family: 'Julius Sans One', sans-serif;
    position: fixed;
    top: 200px;
    right: 10px;
    background: var(--titlesGreen);
    padding: 0.8rem;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    width: 70px;
  }
  main div.right-menu {
    display: none;
  }
/*------------weather--------------*/
main.index div.weather{
    text-align: center;
    background-color: var(--strongGreen);
    color: white;
    padding-bottom: 1rem;
}
main.index div.weather .figure{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main.index div.weather .figure img{
    grid-row: 1/4;
    width: 60%;
    justify-self: center;
}
main.index div.weather .figure span, main.index div.weather .figure p {
    font-size: 0.8rem;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-align: left;
}
main.index div.weather div.forecast p{
    padding: 0;
    margin: 0.5rem;
    text-align: center;
}
/*--------------------------------------------------footer----------------------------------------------------------*/
footer {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--softGreen);
}
footer p, footer div.social {
    text-align: center;
    padding: 0.1rem;
}
footer img {
    width: 100px;
}
footer div.social img{
    width: 25px;
    margin: 0.1rem;
}
main div.second-footer{
    display: none;
}
/*-----------------------------------------------Temple page ----------------------------------------------------*/
main.temple-list div.cards div {
 padding: 1rem;
 text-align: center;
}
main.temple-list div.cards div img {
    width: 100%;
    max-width: 450px;
    margin-top: 1rem;
}

main.temple-list div.cards div button {
    background-color: transparent;
    border: none;
    width: 30px;
    margin-right: 1rem;
}

main.temple-list div.cards div button img:nth-child(1) {display: block;}
main.temple-list div.cards div button img:nth-child(2) {display: none;}

main.temple-list div.cards div button.open img:nth-child(1) {display: none;}
main.temple-list div.cards div button.open img:nth-child(2) {display: block;}

main.temple-list div.cards div h3 {
    padding-bottom: 1rem;
    display: inline;
}
main.temple-list div.cards div p, main.temple-list div.cards div ul {
    font-size: 0.8rem;
    padding: 0;
    padding-top: 0.5rem;
    list-style-position: inside;
    line-height: 1.5;
    text-align: left;
}
main.temple-list div.cards div:nth-child(even){
    background-color: var(--strongGreen);
    color: white;
}
main.temple-list div.cards div:nth-child(even) a{
 color: #B0D4B2;
}

/*--------------------------------------Reservation--------------------------------------------------------------------*/

main.reservation form{
    margin: 0 auto;
    max-width: 500px;
}
main.reservation div.reservationForm h2{
    margin-top: 1.5rem;
    text-align: center;
}
main.reservation form fieldset {
    margin: 1.2rem 0.2rem;
    border: 1px solid --softGreen;
    border-radius: 8px;
    padding: .5rem 2%;

}
main.reservation form legend{
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 1rem;
    padding: 0 .5rem 1rem .5rem;
}
main.reservation form label.top{
    display:block;
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 1rem;
    color: black;
    font-size: 0.9rem;
}

main.reservation form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    border: solid 1px #D5ECD4;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width:100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
main.reservation form label.top textarea{
    -webkit-appearance: none;
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 1rem;
    border: solid 1px #D5ECD4;
    border-radius: 4px;
    max-height: 40em;
    height: 7em;
    padding: 0.75em;
    color: #1C211D;
    width:100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
main.reservation form label.sbs{
    display: block;
    padding: 0.75rem 0;
    color: #555;
}
main.reservation form input.submitBtn {
    font-family: 'Julius Sans One', sans-serif;
    border: solid 1px #555;
    background-color: var(--softGreen);
    color: #1C211D;
    border-radius: 0.7rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

/*--------------------------------------------Services------------------------------------------------------------------------*/

main.services div.service-information, main.services div.amenities-information {
    margin: 1rem auto;
    text-align: center;

}
main.services div.service-information img, main.services div.amenities-information img{
    width: 80%;
    max-width: 250px;
}
main.services div.service-information ul, main.services div.amenities-information ul{
    list-style-position: inside;
}
main.services div.special-services{
    padding: 1.5rem;
    text-align: center;
    background-color: var(--strongGreen);
    color: white;
}
main.services div.special-services a{
    display: block;
    margin: 0.8rem;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 2rem;
}
main.services div.special-services a:hover{
    background-color: var(--softGreen);
    color: black
}
main.services div.special-services a h3{
    margin: 0.8rem;
}
main.services div.special-services img{
    width: 80%;
    max-width: 300px;
}

/*--------------------------------------------------Reception-----------------------------------------------*/

main.reception div.reception-information, main.reception div.food-information {
    margin: 0 auto;
    text-align: center;

}
main.reception div.reception-information img, main.reception div.food-information img{
    width: 80%;
    max-width: 250px;
}
main.reception div.reception-information ul, main.reception div.food-information ul{
    list-style-position: inside;
}
main.reception div.food-information{
    background-color: var(--strongGreen);
    color: white;
}

/*---------------------------------------------------missionaries------------------------------------------------------*/

main.missionaries div.missionaries-information, main.missionaries div.restaurant-information {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;

}
main.missionaries div.missionaries-information img, main.missionaries div.restaurant-information img{
    width: 80%;
    max-width: 250px;
}
main.missionaries div.missionaries-information ul, main.missionaries div.restaurant-information ul{
    list-style-position: inside;
}
main.missionaries div.restaurant-information{
    background-color: var(--strongGreen);
    color: white;
}

/*------------------------------------------------------thank you-------------------------------------------------------*/
main.thanks div.thankyou {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    grid-row: 1/3;
}
main.thanks div.thankyou p {
    text-align: center;
}
main.thanks div.thankyou img {
    width: 100%;
    max-width: 700px;
    margin: 1rem;
}
main.thanks div.thankyou ul {
 padding: 0.8rem;
}